In [1]:
import pandas as pd
import gc
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#ler o csv na pasta arquivos_csv

df = pd.read_csv('arquivos_csv/combustiveis.csv')
df.head()

,ano,sigla_uf,cep_revenda,endereco_revenda,cnpj_revenda,nome_estabelecimento,bandeira_revenda,data_coleta,produto,unidade_medida,preco_compra,preco_venda,municipio
0,2021,RJ,26165-225,"AVENIDA JOAQUIM DA COSTA LIMA,5271 LT 6,7,8,9 ...",02.181.025/0001-64,POSTO NOVO AMIGO LTDA,ALESAT,2021-05-24,gasolina aditivada,R$/litro,4.4093,6.299,Belford Roxo
1,2021,SP,14806-150,"AVENIDA MARIA ANTONIA CAMARGO DE OLIVEIRA,3,571",29.017.490/0001-10,JOAQUIM FERREIRA VIEIRA NETO EIRELI,BRANCA,2021-05-24,gasolina aditivada,R$/litro,3.9193,5.599,Araraquara
2,2021,PE,56509-540,"RUA ARMANDO DE SIQUEIRA BRITO,810",32.395.288/0001-37,AUTO POSTO SAO MIGUEL COMERCIO DE COMBUSTIVEIS...,TEMAPE,2021-05-24,gasolina aditivada,R$/litro,3.8493,5.499,Arcoverde
3,2021,SP,13870-260,"RUA TIRADENTES,224",49.386.147/0001-50,COMERCIAL DE PETROLEO REIS LTDA,BRANCA,2021-05-24,gasolina aditivada,R$/litro,3.8843,5.549,São João da Boa Vista
4,2021,BA,43700-000,"RODOVIA BR 324,S/N KM. 605 6 P...",04.136.094/0002-62,G.R.REVENDEDORA DE COMBUSTIVEIS E LUBRIFICANTE...,RAIZEN,2021-05-25,gasolina aditivada,R$/litro,4.3190,6.170,Simões Filho

In [3]:
#verificar o nome das colunas
df.columns

Index(['ano', 'sigla_uf', 'cep_revenda', 'endereco_revenda', 'cnpj_revenda',
       'nome_estabelecimento', 'bandeira_revenda', 'data_coleta', 'produto',
       'unidade_medida', 'preco_compra', 'preco_venda', 'municipio'],
      dtype='object')

In [4]:
colunas = ['ano', 'sigla_uf','municipio', 'cep_revenda', 'endereco_revenda', 'cnpj_revenda','nome_estabelecimento', 'bandeira_revenda', 'data_coleta', 'produto',
       'unidade_medida', 'preco_compra', 'preco_venda']
#colocar dataframe na ordem das colunas
df = df[colunas]

In [5]:
df.head()

,ano,sigla_uf,municipio,cep_revenda,endereco_revenda,cnpj_revenda,nome_estabelecimento,bandeira_revenda,data_coleta,produto,unidade_medida,preco_compra,preco_venda
0,2021,RJ,Belford Roxo,26165-225,"AVENIDA JOAQUIM DA COSTA LIMA,5271 LT 6,7,8,9 ...",02.181.025/0001-64,POSTO NOVO AMIGO LTDA,ALESAT,2021-05-24,gasolina aditivada,R$/litro,4.4093,6.299
1,2021,SP,Araraquara,14806-150,"AVENIDA MARIA ANTONIA CAMARGO DE OLIVEIRA,3,571",29.017.490/0001-10,JOAQUIM FERREIRA VIEIRA NETO EIRELI,BRANCA,2021-05-24,gasolina aditivada,R$/litro,3.9193,5.599
2,2021,PE,Arcoverde,56509-540,"RUA ARMANDO DE SIQUEIRA BRITO,810",32.395.288/0001-37,AUTO POSTO SAO MIGUEL COMERCIO DE COMBUSTIVEIS...,TEMAPE,2021-05-24,gasolina aditivada,R$/litro,3.8493,5.499
3,2021,SP,São João da Boa Vista,13870-260,"RUA TIRADENTES,224",49.386.147/0001-50,COMERCIAL DE PETROLEO REIS LTDA,BRANCA,2021-05-24,gasolina aditivada,R$/litro,3.8843,5.549
4,2021,BA,Simões Filho,43700-000,"RODOVIA BR 324,S/N KM. 605 6 P...",04.136.094/0002-62,G.R.REVENDEDORA DE COMBUSTIVEIS E LUBRIFICANTE...,RAIZEN,2021-05-25,gasolina aditivada,R$/litro,4.3190,6.170

In [6]:
#pegar valores unicos de uma coluna produto
df['produto'].unique()

array(['gasolina aditivada', 'glp', 'gnv', 'diesel', 'etanol', 'gasolina',
       'diesel s10'], dtype=object)

In [7]:
produtos_necessarios = ['gnv', 'diesel', 'etanol', 'gasolina']
#deixar apenas os produtos necessarios
df = df[df['produto'].isin(produtos_necessarios)]
#colocar nome dos produtos em maiusculo
df['produto'] = df['produto'].str.upper()
#substituir GASOLINA por GASOLINA COMUM
df['produto'] = df['produto'].str.replace('GASOLINA', 'GASOLINA COMUM')
#substituir ETANOL por ETANOL HIDRATADO
df['produto'] = df['produto'].str.replace('ETANOL', 'ETANOL HIDRATADO')

In [ ]:
#Verificar Distribuição de frequência dos dados
df['produto'].value_counts()

GASOLINA COMUM      7066140
ETANOL HIDRATADO    6554200
DIESEL              5231119
GNV                  405778
Name: produto, dtype: int64

In [9]:
df_describe = df.describe()
df_describe.T

,count,mean,std,min,25%,50%,75%,max
ano,19257237.0,2010.862470,4.756999,2004.0000,2007.000,2010.0000,2014.0000,2021.0000
preco_compra,19257237.0,1.915773,0.646910,0.3257,1.463,1.8193,2.2386,5.2493
preco_venda,19257237.0,2.460628,0.833433,0.5900,1.890,2.3490,2.8290,7.4990

In [10]:
#Criar tabela com Frequencia, Percentual, Cumulativa Frequencia e Cumulativa Percentual
tabela = pd.crosstab(index=df['produto'], columns='count')
tabela['percentual'] = tabela['count']/tabela['count'].sum()
tabela['cumulativa_frequencia'] = tabela['count'].cumsum()
tabela['cumulativa_percentual'] = tabela['cumulativa_frequencia']/tabela['count'].sum()
#tranformar coluna produto em index
tabela = tabela.reset_index()
#renomear coluna count para frequencia
tabela.rename(columns={'count':'frequencia'}, inplace=True)
#transformar percentual e cumulativa percentual em porcentagem
tabela['percentual'] = tabela['percentual'].apply(lambda x: '{:.2%}'.format(x))
tabela['cumulativa_percentual'] = tabela['cumulativa_percentual'].apply(lambda x: '{:.2%}'.format(x))
#deixa a tabela tabela sem index
tabela.set_index('produto', inplace=True)
tabela.index.name = None
#renomear colunas col_0 para produto
tabela.rename_axis('Produto', axis=1, inplace=True)
#mostrar tabela na cor branca
tabela.style.background_gradient(cmap='Blues')
#colocar nome das colunas em Capitalize
tabela.columns = tabela.columns.str.capitalize()
tabela

Produto,Frequencia,Percentual,Cumulativa_frequencia,Cumulativa_percentual
DIESEL,5231119,27.16%,5231119,27.16%
ETANOL HIDRATADO,6554200,34.03%,11785319,61.20%
GASOLINA COMUM,7066140,36.69%,18851459,97.89%
GNV,405778,2.11%,19257237,100.00%

In [11]:
def cria_freq_percentual(coluna):
    #Criar tabela com Frequencia, Percentual, Cumulativa Frequencia e Cumulativa Percentual da GASOLINA COMUM por ano
    tabela = pd.crosstab(index=df[df['produto'] == coluna]['ano'], columns='count')
    tabela['percentual'] = tabela['count']/tabela['count'].sum()
    tabela['cumulativa_frequencia'] = tabela['count'].cumsum()
    tabela['cumulativa_percentual'] = tabela['cumulativa_frequencia']/tabela['count'].sum()
    #transformar percentual e cumulativa percentual em porcentagem
    tabela['percentual'] = tabela['percentual'].apply(lambda x: '{:.2%}'.format(x))
    tabela['cumulativa_percentual'] = tabela['cumulativa_percentual'].apply(lambda x: '{:.2%}'.format(x))
    tabela = tabela.reset_index()
    #deixa a tabela tabela sem index
    tabela.set_index('ano', inplace=True)
    tabela.index.name = None
    #renomear colunas col_0 para ano
    tabela.rename_axis('Ano', axis=1, inplace=True)
    #renomear coluna count para frequencia
    tabela.rename(columns={'count':'frequencia'}, inplace=True)
    #colocar nome das colunas em Capitalize
    tabela.columns = tabela.columns.str.capitalize()
    return tabela

In [12]:
cria_freq_percentual('GASOLINA COMUM')

Ano   Frequencia Percentual  Cumulativa_frequencia Cumulativa_percentual
2004      424665      6.01%                 424665                 6.01%
2005      585258      8.28%                1009923                14.29%
2006      602246      8.52%                1612169                22.82%
2007      567573      8.03%                2179742                30.85%
2008      462090      6.54%                2641832                37.39%
2009      393923      5.57%                3035755                42.96%
2010      441863      6.25%                3477618                49.22%
2011      452242      6.40%                3929860                55.62%
2012      452817      6.41%                4382677                62.02%
2013      453719      6.42%                4836396                68.44%
2014      383027      5.42%                5219423                73.87%
2015      345463      4.89%                5564886                78.75%
2016      295390      4.18%                5860276                82.93%
2017      239000      3.38%                6099276                86.32%
2018      294708      4.17%                6393984                90.49%
2019      305083      4.32%                6699067                94.81%
2020      214043      3.03%                6913110                97.83%
2021      153030      2.17%                7066140               100.00%

In [13]:
cria_freq_percentual('ETANOL HIDRATADO')

Ano   Frequencia Percentual  Cumulativa_frequencia Cumulativa_percentual
2004      391982      5.98%                 391982                 5.98%
2005      543425      8.29%                 935407                14.27%
2006      556926      8.50%                1492333                22.77%
2007      528900      8.07%                2021233                30.84%
2008      436124      6.65%                2457357                37.49%
2009      377302      5.76%                2834659                43.25%
2010      426526      6.51%                3261185                49.76%
2011      434224      6.63%                3695409                56.38%
2012      430286      6.57%                4125695                62.95%
2013      423343      6.46%                4549038                69.41%
2014      348819      5.32%                4897857                74.73%
2015      314795      4.80%                5212652                79.53%
2016      269731      4.12%                5482383                83.65%
2017      213853      3.26%                5696236                86.91%
2018      258991      3.95%                5955227                90.86%
2019      271379      4.14%                6226606                95.00%
2020      190504      2.91%                6417110                97.91%
2021      137090      2.09%                6554200               100.00%

In [14]:
cria_freq_percentual('GNV')

Ano   Frequencia Percentual  Cumulativa_frequencia Cumulativa_percentual
2004       21165      5.22%                  21165                 5.22%
2005       32312      7.96%                  53477                13.18%
2006       30061      7.41%                  83538                20.59%
2007       33309      8.21%                 116847                28.80%
2008       25892      6.38%                 142739                35.18%
2009       25839      6.37%                 168578                41.54%
2010       28183      6.95%                 196761                48.49%
2011       26789      6.60%                 223550                55.09%
2012       26700      6.58%                 250250                61.67%
2013       26917      6.63%                 277167                68.31%
2014       23678      5.84%                 300845                74.14%
2015       21779      5.37%                 322624                79.51%
2016       15709      3.87%                 338333                83.38%
2017       12171      3.00%                 350504                86.38%
2018       15024      3.70%                 365528                90.08%
2019       15801      3.89%                 381329                93.97%
2020       12475      3.07%                 393804                97.05%
2021       11974      2.95%                 405778               100.00%

In [15]:
cria_freq_percentual('GLP')

KeyError: 'count'

In [ ]:
cria_freq_percentual('DIESEL')

In [ ]:
#separar produtos em dataframes diferentes
df_gasolina = df[df['produto'] == 'GASOLINA COMUM']
df_etanol = df[df['produto'] == 'ETANOL HIDRATADO']
df_gnv = df[df['produto'] == 'GNV']
df_glp = df[df['produto'] == 'GLP']
df_diesel = df[df['produto'] == 'DIESEL']

In [ ]:
#criar histograma com media do preco de compra da gasolina
def histograma_media(coluna, produto):
    media = coluna.mean()
    coluna.hist(bins=100, figsize=(10,5))
    plt.axvline(media, color='red', linestyle='dashed', linewidth=2)
    plt.title('Histograma de Preço de Compra de {}'.format(produto))
    plt.xlabel('Preço de Compra')
    plt.ylabel('Frequência')
    plt.show()

In [ ]:
histograma_media(df_gasolina['preco_venda'], 'Gasolina')

In [ ]:
histograma_media(df_etanol['preco_venda'], 'Etanol')

In [ ]:
histograma_media(df_gnv['preco_venda'], 'GNV')

In [ ]:
histograma_media(df_glp['preco_venda'], 'GLP')

In [ ]:
histograma_media(df_glp['preco_venda'], 'Diesel')

In [ ]:
#plotar boxplot do preco de venda da gasolina por ano
def boxplot_preco_venda(coluna, produto):
    plt.figure(figsize=(16,8))
    sns.boxplot(x='ano', y='preco_venda', data=coluna)
    plt.title('Boxplot de Preço de Venda de {}'.format(produto))
    plt.xlabel('Ano')
    plt.ylabel('Preço de Venda')
    #melhora a visualização do boxplot
    plt.ylim(0,8)
    plt.show()

In [ ]:
boxplot_preco_venda(df_gasolina, 'Gasolina')

In [ ]:
boxplot_preco_venda(df_etanol, 'Etanol')

In [ ]:
boxplot_preco_venda(df_gnv, 'GNV')

In [ ]:
boxplot_preco_venda(df_diesel, 'Diesel')