In [1]:
import pandas as pd
from datetime import date as dt
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date as dt
#mostrar todas as colunas
pd.set_option('display.max_columns', None)
from statsmodels.tsa.holtwinters import ExponentialSmoothing, SimpleExpSmoothing, Holt
import pandas as pd
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#ler o arquivo csv na pasta arquivo_csv
df = pd.read_csv("arquivos_csv/combustiveis.csv")

In [4]:
df.head()

,ano,sigla_uf,cep_revenda,endereco_revenda,cnpj_revenda,nome_estabelecimento,bandeira_revenda,data_coleta,produto,unidade_medida,preco_compra,preco_venda,municipio
0,2021,RJ,26165-225,"AVENIDA JOAQUIM DA COSTA LIMA,5271 LT 6,7,8,9 ...",02.181.025/0001-64,POSTO NOVO AMIGO LTDA,ALESAT,2021-05-24,gasolina aditivada,R$/litro,4.4093,6.299,Belford Roxo
1,2021,SP,14806-150,"AVENIDA MARIA ANTONIA CAMARGO DE OLIVEIRA,3,571",29.017.490/0001-10,JOAQUIM FERREIRA VIEIRA NETO EIRELI,BRANCA,2021-05-24,gasolina aditivada,R$/litro,3.9193,5.599,Araraquara
2,2021,PE,56509-540,"RUA ARMANDO DE SIQUEIRA BRITO,810",32.395.288/0001-37,AUTO POSTO SAO MIGUEL COMERCIO DE COMBUSTIVEIS...,TEMAPE,2021-05-24,gasolina aditivada,R$/litro,3.8493,5.499,Arcoverde
3,2021,SP,13870-260,"RUA TIRADENTES,224",49.386.147/0001-50,COMERCIAL DE PETROLEO REIS LTDA,BRANCA,2021-05-24,gasolina aditivada,R$/litro,3.8843,5.549,São João da Boa Vista
4,2021,BA,43700-000,"RODOVIA BR 324,S/N KM. 605 6 P...",04.136.094/0002-62,G.R.REVENDEDORA DE COMBUSTIVEIS E LUBRIFICANTE...,RAIZEN,2021-05-25,gasolina aditivada,R$/litro,4.3190,6.170,Simões Filho

In [5]:
#pegar somente os dados do estado de Distrito Federal
df = df[df['sigla_uf']=='DF']
#pegar os dados somente do produto gasolina
df = df[df['produto']=='gasolina']
#resetar o index
df = df.reset_index(drop=True)

In [6]:
df

,ano,sigla_uf,cep_revenda,endereco_revenda,cnpj_revenda,nome_estabelecimento,bandeira_revenda,data_coleta,produto,unidade_medida,preco_compra,preco_venda,municipio
0,2017,DF,72025-001,QUADRA QSE AREA ESPECIAL PARA POSTO DE COMBUST...,00.306.597/0068-04,CASCOL COMBUSTIVEIS PARA VEICULOS LTDA,PETROBRAS DISTRIBUIDORA S.A.,2017-01-19,gasolina,R$/litro,2.6733,3.819,Brasília
1,2016,DF,71710-300,"VIA NB,1 PLL 03",04.285.663/0001-50,AUTO POSTO DO NUCLEO LTDA,PETROBRAS DISTRIBUIDORA S.A.,2016-02-17,gasolina,R$/litro,3.3468,3.970,Brasília
2,2005,DF,72314-701,"QI 416 CONJUNTO H, LOTE 01",00.097.626/0006-72,BRASAL COMBUSTIVEIS LTDA,RAIZEN,2005-01-17,gasolina,R$/litro,1.9713,2.109,Brasília
3,2014,DF,71725-260,"SPM SPM EPIA SUL CONJUNTO A LOTE 10 N,S/N",37.149.861/0005-70,CONTAGEM DERIVADOS DE PETRÓLEO LTDA.,PETROBRAS DISTRIBUIDORA S.A.,2014-02-25,gasolina,R$/litro,2.1490,3.070,Brasília
4,2014,DF,72120-190,"QNL 30 CONJUNTO A LOTE,12",38.057.394/0001-97,POSTO ESTRADA PARK LTDA,BRANCA,2014-02-25,gasolina,R$/litro,2.1490,3.070,Brasília
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67812,2014,DF,73070-043,"AE-ÁREA ESPECIAL AREA ESPECIAL,2 POSTO GASOLINA",00.603.738/0006-58,GASOL COMBUSTÍVEIS AUTOMOTIVOS LTDA.,IPIRANGA,2014-12-29,gasolina,R$/litro,2.8191,3.170,Brasília
67813,2010,DF,71675-000,"SHIS/SUL PAG QI 27 BLOCO A,S/N",05.000.684/0002-26,AUTO POSTO PETER PAN 01 LTDA,PETROBRAS DISTRIBUIDORA S.A.,2010-11-30,gasolina,R$/litro,2.4210,2.790,Brasília
67814,2010,DF,70310-500,"SETOR DE ÁREAS ISOLADAS DE OFICINA NORTE,1 QUA...",03.951.672/0001-70,AUTO POSTO SOF NORTE LTDA,RAIZEN,2010-12-07,gasolina,R$/litro,1.9320,2.760,Brasília
67815,2010,DF,71715-056,"RODOVIA DF 130 COM A RODOVIA DF 230,S/N",07.214.648/0001-00,POSTO PARAISO LTDA,PETROBRAS DISTRIBUIDORA S.A.,2010-12-07,gasolina,R$/litro,1.9530,2.790,Brasília
67816,2010,DF,73020-411,"AREA ESPECIAL N. 01 QUADRA,11 SETOR EXP ECONOMICA",00.001.388/0003-07,DISTRIBUIDORA BRASILIA DE VEICULOS S/A,RAIZEN,2010-12-20,gasolina,R$/litro,1.9320,2.760,Brasília

In [59]:
#transformar a coluna data_coleta em datetime
df['data_coleta'] = pd.to_datetime(df['data_coleta'], format='%Y-%m-%d')

In [60]:

df['mes_ano'] = df['data_coleta'].dt.strftime('%m/%Y')

In [61]:
df

,ano,sigla_uf,cep_revenda,endereco_revenda,cnpj_revenda,nome_estabelecimento,bandeira_revenda,data_coleta,produto,unidade_medida,preco_compra,preco_venda,municipio,mes_ano
0,2017,DF,72025-001,QUADRA QSE AREA ESPECIAL PARA POSTO DE COMBUST...,00.306.597/0068-04,CASCOL COMBUSTIVEIS PARA VEICULOS LTDA,PETROBRAS DISTRIBUIDORA S.A.,2017-01-19,gasolina,R$/litro,2.6733,3.819,Brasília,01/2017
1,2016,DF,71710-300,"VIA NB,1 PLL 03",04.285.663/0001-50,AUTO POSTO DO NUCLEO LTDA,PETROBRAS DISTRIBUIDORA S.A.,2016-02-17,gasolina,R$/litro,3.3468,3.970,Brasília,02/2016
2,2005,DF,72314-701,"QI 416 CONJUNTO H, LOTE 01",00.097.626/0006-72,BRASAL COMBUSTIVEIS LTDA,RAIZEN,2005-01-17,gasolina,R$/litro,1.9713,2.109,Brasília,01/2005
3,2014,DF,71725-260,"SPM SPM EPIA SUL CONJUNTO A LOTE 10 N,S/N",37.149.861/0005-70,CONTAGEM DERIVADOS DE PETRÓLEO LTDA.,PETROBRAS DISTRIBUIDORA S.A.,2014-02-25,gasolina,R$/litro,2.1490,3.070,Brasília,02/2014
4,2014,DF,72120-190,"QNL 30 CONJUNTO A LOTE,12",38.057.394/0001-97,POSTO ESTRADA PARK LTDA,BRANCA,2014-02-25,gasolina,R$/litro,2.1490,3.070,Brasília,02/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67812,2014,DF,73070-043,"AE-ÁREA ESPECIAL AREA ESPECIAL,2 POSTO GASOLINA",00.603.738/0006-58,GASOL COMBUSTÍVEIS AUTOMOTIVOS LTDA.,IPIRANGA,2014-12-29,gasolina,R$/litro,2.8191,3.170,Brasília,12/2014
67813,2010,DF,71675-000,"SHIS/SUL PAG QI 27 BLOCO A,S/N",05.000.684/0002-26,AUTO POSTO PETER PAN 01 LTDA,PETROBRAS DISTRIBUIDORA S.A.,2010-11-30,gasolina,R$/litro,2.4210,2.790,Brasília,11/2010
67814,2010,DF,70310-500,"SETOR DE ÁREAS ISOLADAS DE OFICINA NORTE,1 QUA...",03.951.672/0001-70,AUTO POSTO SOF NORTE LTDA,RAIZEN,2010-12-07,gasolina,R$/litro,1.9320,2.760,Brasília,12/2010
67815,2010,DF,71715-056,"RODOVIA DF 130 COM A RODOVIA DF 230,S/N",07.214.648/0001-00,POSTO PARAISO LTDA,PETROBRAS DISTRIBUIDORA S.A.,2010-12-07,gasolina,R$/litro,1.9530,2.790,Brasília,12/2010
67816,2010,DF,73020-411,"AREA ESPECIAL N. 01 QUADRA,11 SETOR EXP ECONOMICA",00.001.388/0003-07,DISTRIBUIDORA BRASILIA DE VEICULOS S/A,RAIZEN,2010-12-20,gasolina,R$/litro,1.9320,2.760,Brasília,12/2010

In [62]:
#verificar valores nulos
df.isnull().sum()

ano                     0
sigla_uf                0
cep_revenda             0
endereco_revenda        0
cnpj_revenda            0
nome_estabelecimento    0
bandeira_revenda        0
data_coleta             0
produto                 0
unidade_medida          0
preco_compra            0
preco_venda             0
municipio               0
mes_ano                 0
dtype: int64

In [63]:
#criar dataframe como mes_ano e preco de venda
df_preco = df[['mes_ano','preco_venda']]

In [64]:
#criar uma coluna somene com ano
df_preco['ano'] = df_preco['mes_ano'].str[-4:]

C:\Users\tassi\AppData\Local\Temp\ipykernel_28564\3128270274.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_preco['ano'] = df_preco['mes_ano'].str[-4:]

In [65]:
#ordenar o dataframe pelo ano
df_preco = df_preco.sort_values(by='ano')

In [66]:
df_preco

       mes_ano  preco_venda   ano
14929  10/2004        2.140  2004
37763  12/2004        2.330  2004
50471  09/2004        2.020  2004
37765  06/2004        2.030  2004
37766  06/2004        2.070  2004
...        ...          ...   ...
6238   04/2021        5.859  2021
6239   05/2021        5.839  2021
6240   05/2021        6.099  2021
37149  10/2021        6.499  2021
38915  06/2021        5.799  2021

[67817 rows x 3 columns]

In [67]:
#resetar o index
df_preco = df_preco.reset_index(drop=True)

In [73]:
df_preco[20:30]

    mes_ano  preco_venda   ano
20  09/2004         1.99  2004
21  09/2004         2.12  2004
22  10/2004         2.14  2004
23  10/2004         2.08  2004
24  10/2004         2.01  2004
25  09/2004         2.16  2004
26  08/2004         2.14  2004
27  08/2004         2.12  2004
28  12/2004         2.12  2004
29  12/2004         2.20  2004

In [74]:
#criar um dataframe com o ano e o preço médio
df_preco_medio = df_preco.groupby('mes_ano')['preco_venda'].mean()

In [76]:
#mudar o tipo do mes_ano para datetime
df_preco_medio.index = pd.to_datetime(df_preco_medio.index, format='%m/%Y')

In [78]:
#ordenar o dataframe pelo ano
df_preco_medio = df_preco_medio.sort_index()

In [80]:
#remover o dia da data
df_preco_medio.index = df_preco_medio.index.strftime('%m/%Y')

In [84]:
#arredondar os valores para 2 casas decimais
df_preco_medio = df_preco_medio.round(2)

In [85]:
df_preco_medio

mes_ano
05/2004    2.03
06/2004    2.07
07/2004    2.03
08/2004    2.13
09/2004    2.13
           ...
06/2021    5.75
07/2021    5.99
08/2021    6.35
09/2021    6.34
10/2021    6.44
Name: preco_venda, Length: 208, dtype: float64

In [82]:
#salvar o dataframe em um arquivo excel
df_preco_medio.to_excel('arquivos_csv/preco_medio_gasolina.xlsx')

In [39]:
#remover as colunas preço compra  e ano
df_media = df_media.drop(['preco_compra','ano'], axis=1)

In [40]:
#alinhar as colunas
df_media = df_media[['preco_venda']]

In [41]:
#remover index
df_media = df_media.reset_index()

KeyError: 'preco_venda'

In [42]:
#remover nome das colunas e remover o index
df_media.columns = ['ds','y']
df_media = df_media.reset_index(drop=True)

In [43]:
df_media

          ds         y
0    01/2005  2.208965
1    01/2006  2.609463
2    01/2007  2.536204
3    01/2008  2.592472
4    01/2009  2.676417
..       ...       ...
203  12/2016  3.626829
204  12/2017  4.188647
205  12/2018  4.314936
206  12/2019  4.513245
207  12/2020  4.588068

[208 rows x 2 columns]

In [44]:
#arredondar os valores para 2 casas decimais
df_media['y'] = df_media['y'].round(2)

In [45]:
#ordenar valores apenas por ano de 2004 a 2021
df_media = df_media[df_media['ds'].str.contains('2004|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|2019|2020|2021')]

In [46]:
df_media

          ds     y
0    01/2005  2.21
1    01/2006  2.61
2    01/2007  2.54
3    01/2008  2.59
4    01/2009  2.68
..       ...   ...
203  12/2016  3.63
204  12/2017  4.19
205  12/2018  4.31
206  12/2019  4.51
207  12/2020  4.59

[208 rows x 2 columns]

In [30]:
#salva em excel
df_media.to_excel('arquivos_csv/df_media.xlsx', index=False)